.all{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.About{
  background-color: #528830;
  width: 100%;
  height: 100vh;
  border-radius: 2%;
}
.content{
  margin-top: 10%;
}
.content2{
  margin-left: 4%;
}
.About1{
  padding: 8%;
}
.brand{
  font-size:30px;
}
.brand2{
  font-size: 25px;
}
.service{
  background-color: #D6DACE;
  width: 100%;
  height: 100vh;
  border-radius: 2%;
}
.text-center{
  padding-top: 2%;
}
.Contact{
  background-color: #528830;
  width: 100%;
  height: 70vh;
  border-radius: 2%;
}
.footer-content a{
  text-decoration: none;
  color: #0C089B;
  font-size: 20px;
}
.footer-content1 a{
  text-decoration: none;
  color: #0C089B;
  font-size: 20px;
}
